#categoriaSeleccionada {
    display: none;
}

#combobox {
    float: left;
}

#myForm {
    margin-bottom: 10px;
}

.btn-filtro{
    margin-left: 10px;
    float: left;
}

.center{
    display: flex;
    justify-content: center;
}

.actualizar{
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: #337ab7 !important;
    border-left-color: #2e6da4  !important;
    border-right-color: #2e6da4  !important;
    border-top-color: #2e6da4  !important;
    border-bottom-color: #2e6da4 !important;
    border-radius: 5px;
}

.actualizar:hover {
    border-radius: 5px;
    color: #ffffff !important;
    background-color: #286090 !important;
    border-color: #286090 !important;;
}

.eliminar{
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: #d9534f  !important;
    border-left-color: #d43f3a  !important;
    border-right-color: #d43f3a  !important;
    border-top-color: #d43f3a  !important;
    border-bottom-color: #d43f3a !important;
    border-radius: 5px;
}

.eliminar:hover {
    border-radius: 5px;
    color: #ffffff !important;
    background-color: #ac2925 !important;
    border-color: #ac2925 !important;;
}